<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.neu.model.User"/>
        <typeAlias alias="Movie" type="com.neu.model.Movie"/>
        <typeAlias alias="Rating" type="com.neu.model.Rating"/>
        <typeAlias alias="Tag" type="com.neu.model.Tag"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/userMapper.xml"/>
        <mapper resource="mappers/movieMapper.xml"/>
        <mapper resource="mappers/tagMapper.xml"/>
        <mapper resource="mappers/ratingMapper.xml"/>
    </mappers>
</configuration>